<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bmsoft.canteensystem.dao.UserDao">

    <resultMap id="UserMap" type="User">
        <id property="userId" column="user_id"></id>
        <result property="userPwd" column="user_pwd"></result>
        <result property="roleId" column="role_id"></result>
        <association property="emp" column="emp_no" select="com.bmsoft.canteensystem.dao.EmpDao.findByEmpNo"></association>
    </resultMap>

    <select id="findById" parameterType="Integer" resultMap="UserMap">
        SELECT emp_no from tb_user where user_id=#{user_id}
    </select>

</mapper>
 

