<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>今日菜品</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.5-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css}">
    <script th:src="@{/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class='col-md-12' id="mainDiv">
    </div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-1.12.1.js}"></script>
<script type="text/javascript">
    window.onload = function () {
        $.post("today",{},function (data) {
            var content = "";
            if(data != null && data.length > 0){
                for(var i in data){
                    content += " <div class='col-md-3'>" +
                        "            <div style='height: 160px;margin-top: 10px'>" +
                        "                <img class='img-rounded' src="+data[i].menu.path+" style='max-height:150px;max-width:80%'>" +
                        "            </div>" +
                        "            <label> "+data[i].menu.name+" 售价:"+data[i].menu.price+"</label>" +
                        "        </div>"
                }

            }
            $("#mainDiv").append(content);
        },"json")
    }
</script>
</html>