<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>本周菜单</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.5-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css}">
    <script th:src="@{/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>
</head>
<body id="body">

</body>
<script type="text/javascript" th:src="@{/js/jquery-1.12.1.js}"></script>
<script type="text/javascript">
    $.post("week",{},function (data) {
        var content = "";
        if(data != null && data.length >0){
            for(var i in data) {
                content += "<div class='col-md-12'>"+data[i].dayOfWeek+"</div><div class='col-md-12'>"
                for(var j in data[i].menus){
                    content += "<div class='col-md-3'>" +
                        "          <div style='height: 160px;margin-top: 10px'>" +
                        "<img class='img-rounded' src='http://58.87.104.133:8080"+data[i].menus[j].path+"' style='max-height:150px;max-width:80%'>" +
                        "                </div>" +
                        "                <label> "+data[i].menus[j].name+"</label>" +
                        "            </div>"
                }
                content +="</div>"
            }
        }
        $("#body").append(content);
    },"json")
</script>
</html>