<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bmsoft.canteensystem.dao.EmpDao">
    <resultMap id="empMap" type="Emp">
        <result property="empNo" column="emp_no"/>
        <result property="empNumberId" column="emp_number_id"/>
        <result property="empName" column="emp_name"/>
        <result property="empPicPath" column="emp_pic_path"/>
        <association property="dept" column="dept_id" select="com.bmsoft.canteensystem.dao.DeptDao.findById"/>
    </resultMap>

    <select id="findById" parameterType="String" resultMap="empMap">
        SELECT * FROM tb_emp WHERE emp_no=#{empNo}
    </select>
</mapper>


